* {
    margin: 3;
    padding: 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.header{ 
    background-color: blue;
    color: white;
    width: 100%;
    padding: 25px;
}
.sidebar{
    background-color: green;
    color: white;
    width: 30%;
    height: 200px;
}
.content{
    background-color: red;
    color: white;
    width: 69.5%;
    height: 200px;

}
.footer{
    padding: 25px;
    background-color: blueviolet;
    color: white;
    width: 100%;
}